
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #50020B;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.preloader.fade-out {
    opacity: 0;
}

.preloader.hide {
    display: none;
}

.spinner {
    display: flex;
}

.spinner-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FAFCFF;
    margin: 0 5px;
    animation: spinner-bounce 1s infinite;
}

.spinner-circle:nth-child(2) {
    animation-delay: 0.2s;
}

.spinner-circle:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes spinner-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
