/* Vite default styles removed to use portfolio styles */

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

body.body-scroll-lock {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
}
